html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ol > li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.navbar-brand {
  font-weight: bold;
  font-style: italic;
  font-size: x-large;
}

#navbarSupportedContent a {
  color: white !important;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs .nav-link {
  border-radius: 0.25rem !important;
}

.box-link {
  color: #dc3545;
}
.box-link:hover {
  background-color: #dc3545;
  color: white !important;
}

.breadcrumb > li > a {
  color: #dc3545;
}
.breadcrumb > li > a :hover {
  color: #dc3545;
}

.slider-link:hover {
  text-decoration: none;
}

.auto-complete input {
  outline: none;
}

.auto-complete ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #ced4da;
  border-top: 0;
}
.auto-complete ul::before {
  content: "";
}
.auto-complete li {
  font-size: 1rem;
  color: #495057;
  padding: 10px 5px;
  cursor: pointer;
}

.auto-complete li:hover {
  background-color: lavenderblush;
}
